* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    align-content: center;
    text-align: center;
    font-weight: lighter;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#bodyStart {
    margin-top: 300px;
}

h1 {
    color: rgb(203, 170, 135);
    font-size: 50px;
    margin-top: 150px;
}

a {
    text-decoration: none;
    background-color: rgb(207, 215, 204);
    padding: 10px;
    border-radius: 5px;
}

button {
    background-color: rgb(207, 215, 204);
    border: none;
    padding: 10px;
    border-radius: 5px;
    width: 115px;
}

#start1 {
    width: 170px;
}

.spielflaeche {
    margin-top: 20px;
    margin: auto;
    width: 1300px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.karten {
    position: relative;
    align-content: center;
    width: 140px;
    height: 180px;
    margin: 5px;
}

.verdeckt {
    position: relative;
    align-content: center;
    width: 140px;
    height: 180px;
    margin: 5px;
}
.verdeckt:hover{
    border: 2px solid black;
    box-shadow: inset 0px, 0px, 0px, 5px black;
    box-sizing: border-box;
    cursor: pointer;
}

.aufgedeckt {
    position: absolute;
    width: 100%;
    max-height: 100%;
}

input {
    margin-top: 20px;
    font-size: 18px;
    width: 220px;
    background-color: rgba(203, 170, 135, 0.125);
    border-radius: 5px;
}