html {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#button {
    border-radius: 1px solid rosybrown;
    background-color:rosybrown;
    margin-top: 20px;
    border-color:rosybrown;
}

#button:hover {
    color: grey;
}

h1 {
    color: rosybrown;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}