* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#button {
    background-color:burlywood;
    border: none;
    margin-top: 17px;
    height: 30px;
}

#button:hover {
    background-color: rgb(237, 203, 159);
}

h1 {
    color: burlywood;
}

label {
    font-size: 16px;
}